<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="7zip" />
  <package id="avidemux" />
  <package id="beyondcompare" />
  <package id="calibre" />
  <package id="everything" />
  <package id="git" packageParameters="-WindowsTerminal" />
  <package id="inkscape" />
  <package id="mediainfo" />
  <package id="msys2" />
  <package id="nasm" />
  <package id="nodejs-lts" />
  <package id="poweriso" />
  <package id="puretext" />
  <package id="screentogif" />
  <package id="teraterm" />
  <package id="vlc" />
  <package id="xmedia-recode" />
</packages>
