<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="7zip" />
  <package id="adobereader" />
  <package id="anaconda3" />
  <package id="atom" />
  <package id="autohotkey" />
  <package id="avidemux" />
  <package id="beyondcompare" />
  <package id="bluescreenview" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="conemu" />
  <package id="copay" />
  <package id="coreinfo" />
  <package id="coretemp" />
  <package id="cpu-z" />
  <package id="crystaldiskinfo" />
  <package id="crystaldiskinfo.portable" />
  <package id="DotNet4.5.2" />
  <package id="dropbox" />
  <package id="everything" />
  <package id="Firefox" />
  <package id="firmwaretablesview" />
  <package id="gimp" />
  <package id="git" packageParameters="-WindowsTerminal" />
  <package id="googlechrome" />
  <package id="gpg4win" />
  <package id="gpu-z" />
  <package id="hwinfo" />
  <package id="iCloud" />
  <package id="ida-free" />
  <package id="imgburn" />
  <package id="inkscape" />
  <package id="iperf3" />
  <package id="itunes" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="mediainfo" />
  <package id="msys2" />
  <package id="nasm" />
  <package id="neovim" />
  <package id="nodejs-lts" />
  <package id="pandoc" />
  <package id="partitionmasterfree" />
  <package id="pci-z" />
  <package id="procexp" />
  <package id="procmon" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="screentogif" />
  <package id="Sudo" />
  <package id="teraterm" />
  <package id="testdisk-photorec" />
  <package id="vagrant" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="virtualbox" />
  <package id="visualstudiocode" />
  <package id="vlc" />
  <package id="wget" />
  <package id="winaero-tweaker" />
  <package id="winobj" />
  <package id="winscp" />
  <package id="wireshark" />
  <package id="x64dbg.portable" />
  <package id="xmedia-recode" />
</packages>
